@use "../../styles/variables" as *;
@use "../../styles/mixins" as *;

.hero {
    background: url(../../assets/images/heroNew2.webp);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 500px;

    &__container {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        gap: 10px;
        padding-top: 100px;

        &-title {
            @include title;
            width: 60%;
        }

        &-text {
            @include subtitle
        }

        &-btn {
            @include button;
            margin-top: 10px;
        }
    }
}