@use "./variables" as *;

body {
    font-family: $font-main;
    color: $text-color;
    background: $white;
}

.container {
    width: 85%;
    max-width: $container-width;
    margin: 0 auto;
}

.section {
    padding: 20px 0;
}

.title {
    font-size: 32px;
    font-weight: 600;
    line-height: 42px;
}

.subtitle {
    font-size: 16px;
    font-weight: 500;
    line-height: 22px;
    color: #333;
}