$primary: #e32b34;
$secondary: #111827;

$white: #ffffff;
$black: #000000;

$text-color: #333333;
$border-color: #e5e7eb;

$font-main: "Inter", sans-serif;


$mobile: 576px;
$tablet: 768px;
$laptop: 1024px;
$desktop: 1440px;

$container-width: 1440px;
$container-padding: 20px;

$transition: 0.3s ease;